body {
    font: 1em/150% Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0 auto;
    position: relative;
	background-color: #f1f3f6;
  }

.row:not(:first-of-type){
    margin-top: 15px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}